
@font-face {
    font-family: 'Galano Grotesque';
    src: url('GalanoGrotesqueAltLight.otf') format('truetype');
}

/* Estilos generales del cuerpo */
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* Estilos para el contenedor principal del encabezado */
.container-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse; /* Cambia el orden de columna y luego a fila */
    justify-content: space-around;
    padding: 5px; /* Márgenes internos */
    height: 20%; /* Altura automática */
}

/* Estilos para la barra de navegación */
.navbar {
    display: flex;
    align-items: center;
}

/* Estilos para los enlaces de navegación */
.nav-links {
    list-style: none;
    display: flex;
    gap: 5px;
    width: 100%;
}

/* Estilos para los enlaces */
.nav-links a {
    text-decoration: none;
    color: #162b1c;
    padding: 10px;
    font-size: 18px;
    font-family: 'Galano Grotesque', sans-serif;
    width: 100%;
    transition: .3s linear;
}

/* Estilos para los enlaces al pasar el cursor */
.nav-links a:hover {
    color: #16C79A;
}

/* Estilos para el contenedor del menú */
.container-menu {
    display: flex;
    margin-left: auto; /* Mueve el contenedor a la derecha */
}

.button-menu-toggle {
    display: none;
}

.iconos-menu {
    display: none;
}

@media (max-width: 780px) {
    /* .column {
        flex: 100%;
    } */
  
  
    .nav-links {
        display: none;
    }
  
  
    .button-menu-toggle {
        display: flex;
        flex-direction: row-reverse;
        background-color: #ffffff;
        border: none;
        font-size: 18px;
    }
   
    .nav-links-responsive {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: rgba(186, 188, 196, 0.559);
        right: 20px;
        top: 20%;
        left: 5px;
        
    }
    .nav-links-responsive li:hover{
        background-color: #16C79A;
    }
    .nav-links-responsive li:hover a{
        color: white; 
    }

}
  